<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>account</title>
    {% extends "actions/main.html" %}
</head>
<body>
{% block content %}
    Ваши объявления
{%if tasks.count%}
({{tasks.count}})
{% endif%}
:
<table>
    {% for task, amount in tasks %}
      <tr>
        <td> {{task.name}} </td><td>{{task.price}}</td><td>{{task.status}}</td>
          <td><a href="/categories/{{task.category.id}}/{{task.id}}">Перейти</a></td>
          <td>
              {% if task.status == 'looking for executor' and amount > 0 %}
                  <a href="{{task.id}}/offers/">Предложений: {{amount}}</a>
              {% elif task.status == 'looking for executor' and amount == 0 %}
                  Предложений нет
              {% elif task.status == 'in process'%}
                  <a href="/account/{{task.created_by.id}}/{{task.id}}/complete/">Работа выполнена?
              {% endif %}
          </td>
      </tr>
    {% endfor %}
</table>
    Отзывы
{% if comments.count%}
    ({{comments.count}})
{% else %}
    Отзывы отсутствуют
{% endif%} :
<table>
    {% for comment in comments%}
    <tr>
        <td>{{comment.text}}</td>
        <td>{{comment.pub_date}}</td>
    </tr>
    {% endfor%}
</table>

{% endblock %}
</body>
</html>