<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "actions/main.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <title>Account</title>
</head>
<div id="background">
<body>

{% block content %}

{% if tasks|length > 0%}
<div class="table-title">
    <h3>Объявления ({{tasks|length}})
    </h3>
</div>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-left">Нужно</th>
        <th class="text-left">Цена</th>
        <th class="text-left">Статус</th>
        <th class="text-left">Опубликовано</th>
        <th class="text-left">Предложения</th>
        <th class="text-left"></th>
    </tr>
    </thead>
    <tbody class="table-hover">
    {% for task, amount in tasks %}
      <tr>
        <td> {{task.name}} </td>
          <td class="text-left">{{task.price}}</td>
          <td class="text-left">{{task.status}}</td>
          <td class="text-left">{{task.pub_date}}</td>
          <td>
              {% if task.status == 'looking for executor' and amount > 0 %}
                  <a href="{{task.id}}/offers/">Предложений: {{amount}}</a>
              {% elif task.status == 'looking for executor' and amount == 0 %}
                  Предложений нет
              {% elif task.status == 'in process'%}
              <a href="/account/{{task.created_by.id}}/{{task.id}}/complete/">Работа выполнена?</a>
              {% endif %}
          </td>
          <td class="text-left"><a href="/categories/{{task.category.id}}/{{task.id}}">Перейти</a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="table-title">
    <h3>Объявлений нет
    </h3>
</div>
{% endif%}
Положительных отзывов: {{ pos_comments|length}}
<br>
Отрицательных отзывов: {{ neg_comments }}
<a href="comments">Просмотреть</a>
{% endblock %}
</div>
</body>
</html>