{% extends "actions/main.html" %}
{% block title%} Comments {% endblock %}
{% block content %}
<table class="table table-hover">
        <thead class="table-borderless">
    <tr>
        <th>Комментарий</th>
        <th>Тип</th>
        <th>Отправлено</th>
    </tr>
    </thead>
    {% for comment in comments%}
    <tr>
        <td>{{comment.text}}</td>
        <td>{% if comment.is_positive%}
                                Положительный
                                {% else%}
                                Отрицательный
                                {% endif %}
        </td>
        <td>{{comment.pub_date}}</td>
    </tr>
    {% endfor%}
</table>
<a href="/account/{{ user.id }}">Вернуться</a>
{% endblock %}
