<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{%static 'form.css'%}" rel="stylesheet" type="text/css">
<body>
<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1" method="post">
        {% csrf_token %}
        <p>
            <input placeholder="Username" name="username" type="text" class="feedback-input">
        </p>
        <p>
            <input placeholder="Password" name="password" type="password" class="feedback-input">
        </p>

      <div class="submit">
        <input type="submit" value="Войти" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
</body>