<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <meta charset="UTF-8">
    <title>Main</title>
        <link href="{%static 'main.css'%}" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header">
    <a href="/"><img src="/static/service.png" alt="Logo" width="100px"></a>
    <div class="join">
    {% if user.is_authenticated %}
        <a href="/account/{{user.id}}">Личный кабинет</a>
        <a href="/logout">Выйты</a>
    {% else %}
        <a href="/login">Войти</a> <div class="or"> или </div>
        <a href="/register">Зарегистрироваться</a>
        </div>
    {% endif%}
</header>
{% block content %}{% endblock %}
<footer class="footer">
    Контакты
</footer>
</body>
</html>