<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="{%static 'form.css'%}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1" method="post">
        {% csrf_token %}
        <p>
            <input placeholder="Никнейм" name="username" type="text" class="feedback-input">
        </p>
        <p>
            <input placeholder="Электронная почта" name="email" type="text" class="feedback-input">
        </p>
        <p>
            <input placeholder="Пароль" name="password" type="password" class="feedback-input">
        </p>
        <p>
            <input placeholder="Имя" name="first_name" type="text" class="feedback-input">
        </p>

        <p>
            <input placeholder="Фамилия" name="last_name" type="text" class="feedback-input">
        </p>
      <div class="submit">
        <input type="submit" value="Зарегистрироваться" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
</body>