html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
}

.to_the_right{
    padding-left: 900px;
}

.header {
    background: linear-gradient(#8ddbf7, #f0fbff);
    height: 120px;
}

.footer {
    background: linear-gradient(#f0fbff, #8ddbf7);
    height: 120px;
}

.content1 {
  position: relative; /* needed for footer positioning*/
  height: auto !important; /* real browsers */
  min-height: 100%; /* real browsers */

.footer {
  position: absolute;
  width: 70%;
  bottom: 0;
}