body {
  margin: 0;
  background: #f4f4f4;
}

form {
    width: 100%;
    overflow: hidden;
}

.header {
  background: white;
  height: 50px;
  box-shadow: grey 0 1px 5px;

  display: flex;
  justify-content: space-between;

  color: black;
  font-size: 35px;

  padding: 25px;

  border-bottom: #948e90 3px solid;

}

.footer {
  height: 70px;
  color: black;
  font-size: 35px;
  padding: 1em;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
}

.header a:hover{
    color: #707070
}

.or {
    color: #6E736E;
    font-size: 12px;
    padding: 12px 5px 0px 5px;

}

.join {
  display: flex;
  padding-top: 12px;
  font-size: 24px;
}

.space {
    padding: 0 7px 0 7px;
}

.content {
    display: flex;
    justify-content: center
}

.all_category {
    margin-top: 20px;
    font-size: 38px;
}

.category ul{
    display:flex;
    flex-wrap: wrap;
    margin-left: 150px;

}

.category ul li{
    list-style: none;
    flex: 0 0  33.3333%;
    margin-top: 50px;
}

.hide {
    visibility: hidden
}
