{% extends "actions/main.html" %}

{% block title %} Categories {% endblock %}

{% block content %}
        <div class="category">
        <ul>
            {% for category in categories%}
                <li><a href="/categories/{{category.id}}/"><img src="/{{ category.picture }}" width="100px"
                                                                alt="{{category.category}}">
                    {{category.category}}</a>
                </li>
            {%endfor%}
        </ul>
        </div>
{% endblock %}

