{% extends "actions/main.html" %}
{% block title %} Categories {% endblock %}
{% block content %}
    <div class="card-columns">
    {% for category in categories%}
                <a href="/categories/{{category.id}}/"><div class="card border-0" style="width:500px">
                    <div class="card-body">
                        <img src="/{{ category.picture }}" width="150px" alt="{{category.category}}">
                            <h4><div class="card-title">{{category.category}}</div></h4>
                    </div>
                </div>
                    </a>
        {%endfor%}
</div>
{% endblock %}

