<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details</title>
    {% extends "actions/main.html" %}

</head>
<body>

{% block content %}
<div class="un_list">
<ul>
    <li>Нужно: {{ task.name }}</li>
    <li>Цена: {{ task.price }}</li>
    <li>Дата создания: {{task.pub_date}}</li>
    <li>Создано кем: {{task.created_by}}</li>
    <li>Подробнее: {{ task.comments }}</li>
</ul>
</div>
<a href="to_respond/">Откликнуться!</a>
<a href="/categories/{{task.category.id}}/">Вернуться</a>
{% endblock %}
</body>
</html>