{% extends "actions/main.html" %}
{% block title%}Details {% endblock %}
{% block content %}
<br>
<div class="container">
    <h4>
<ul class="list-group border-0">
    <li class="list-group-item border-0"><span class="badge badge-info">Нужно:
    </span> {{ task.name }}</li>
    <li class="list-group-item border-0"><span class="badge badge-info">Цена:
    </span> {{ task.price }}</li>
    <li class="list-group-item border-0"><span class="badge badge-info">Дата создания:
    </span> {{task.pub_date}}</li>
    <li class="list-group-item border-0" ><span class="badge badge-info">Создано кем:
    </span> {{task.created_by}}</li>
    <li class="list-group-item border-0"><span class="badge badge-info ">Подробнее:
    </span> {{ task.comments }}
    </li>
</ul>
    </h4>
<div class="btn-group btn-group-justified">
  <a href="to_respond/" class="btn btn-primary btn-lg">Откликнуться!</a>
  <a href="/categories/{{task.category.id}}/" class="btn btn-primary btn-lg ">Вернуться</a>
</div>
</div>
{% endblock %}
