<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tasks</title>
    {% extends "actions/main.html" %}
</head>
<body>
{% block content %}
{%if tasks|length > 0%}
    <table class="table-fill">
        <thead>
            <tr>
                <th>Нужно</th>
                <th>Цена</th>
                <th>Создано</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-hover">
            {% for task in tasks %}
            <tr>
                <td>{{task.name}}</td>
                <td>{{task.price}}</td>
                <td>{{task.pub_date}}</td>
                <td><a href="/categories/{{category_id}}/{{task.id}}"> подробнее...</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%else%}
    Объявлений нет
{% endif%}
<a href="/creating/">Добавить объявление</a>
{% endblock %}
</body>
</html>